body {
  text-align: center;
  font-family: "Courier", monospace;
}

h1 {
  margin: 0 auto;
  font-family: "Major Mono Display", monospace;
  font-size: 48px;
  margin: 4%;
}

h2 {
  font-size: 32px;
  font-weight: lighter;
  margin: 4%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  height: 100%;
  with: 100%;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
  height: 456px;
  width: 456px;
}

.square {
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 98px;
  height: 150px;
  line-height: 150px;
  user-select: none;
  width: 150px;
}

.square:hover {
  background-color: grey;
  cursor: pointer;
}

#reset-button {
  background-color: lightgray;
  border: 2px solid black;
  color: red;
  font-size: 24px;
  line-height: 55px;
  margin: 2%;
  text-align: center;
  width: 458px;
}

#reset-button:hover {
  background-color: grey;
  color: black;
  cursor: pointer;
}

#scoreX {
  font-family: "Courier", monospace;
  font-size: 22px;
  font-weight: lighter;
  margin: 4%;
  list-style: none;
}

#scoreO {
  font-family: "Courier", monospace;
  font-size: 24px;
  font-weight: lighter;
  margin: 4%;
  list-style: none;
}

#chooseX {
font-family: "Courier", monospace;
font-size: 24px;
font-weight: bold;
margin: 4%;
border-color: black;
padding: 10px 20px;
}

#chooseO {
  font-family: "Courier", monospace;
  font-size: 24px;
  font-weight: bold;
  margin: 4%;
  border-color: black;
  padding: 10px 20px;
}
