body {
  text-align: center;
  font-family: "Roboto", monospace;
}

h1 {
  margin: 0 auto;
  font-family: "Major Mono Display", monospace;
  font-size: 48px;
  margin: 2%;
}

h2 {
  font-size: 36px;
  font-weight: lighter;
  margin: 2%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  height: 100%;
  with: 100%;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
  height: 456px;
  width: 456px;
}

.square {
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 96px;
  height: 150px;
  line-height: 150px;
  user-select: none;
  width: 150px;
}

.square:hover {
  background-color: lightgray;
  cursor: pointer;
}

#reset-button {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
}

#reset-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

#scoreX {
  font-family: "Roboto", monospace;
  font-size: 20px;
  font-weight: lighter;
  margin: 2%;
  list-style: none;
}

#scoreO {
  font-family: "Roboto", monospace;
  font-size: 20px;
  font-weight: lighter;
  margin: 2%;
  list-style: none;
}

#pickX {
font-family: "Roboto", monospace;
font-size: 20px;
font-weight: bold;
margin: 2%;
border-color: grey;
padding: 10px 20px;
}

#pickO {
  font-family: "Roboto", monospace;
  font-size: 20px;
  font-weight: bold;
  margin: 2%;
  border-color: grey;
  padding: 10px 20px;
}
